* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 68px!important;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:focus{
    outline: 0;
}
/*::-webkit-scrollbar
{
  width: 0;
  height: 0;
  display: none;
}*/

.navbar-collapse {
    font-size: 15px
}
.navbar-brand {
    font-size: 23px
}
.navbar-text > a, .navbar-nav>li>a, .navbar-header .navbar-brand {
    /* color: #ffffff!important; */
    color: #333!important;
    /* color:#ff787e!important; */
    font-size: 16px
    
}
.dropdown-menu>li>a {
    color: #333!important;
    /* color: #ff787e!important; */
}
.navbar-default {
    background-color: #fff!important;
    border-color: #f0f0f0!important;
}
.navbar-nav >li>a:hover, .navbar-text > a:hover {
    /* color: #5a99df!important; */
    /* color:red!important; */
    /* background-color: rgb(14, 13, 13)!important */
    background-color: #f0f0f0!important
}

.navbar-inverse .navbar-nav> .active:after,
.navbar-inverse .navbar-nav>li:hover>a:after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:2px;
    /* background:red; */
}

.navbar .nav > li .dropdown-menu {
    margin: 0;
    min-width:100%;
}

.navbar .nav > li:hover .dropdown-menu , .dropdown:hover{
    display: block;
}

.top-search {
    width: 89px!important;
    display: inline-block!important;
}

.search-submit  {
    width: 27px;
    height: 32px;
    background: url(//static.hdslb.com/images/base/icons.png) -786px -721px!important;
    border: 0;
}

.has-feedback .form-control {
    padding-right: 5px!important;
}

div.link-content {
    text-align:center;
}
.li-li > a , .nav-tabs>li>a { 
    color: #333;
}
a { 
    text-decoration: none;
    word-break: break-all;
}

.navbar-text {
    margin-left: 15px;
}
.backtop {
    display: block;
    cursor: pointer;
    width: 40px;
    position: fixed;
    right: 0;
    bottom: 65px;
    border-radius: 23px;
    height: 40px;
    border: 1px solid #e5e9ef;
    background: url(//static.hdslb.com/images/base/icons.png) -653px -78px;
    background-color: #02020226;
}
.backpage {
    display: block;
    cursor: pointer;
    width: 46px;
    /* border-radius: 23px; */
    position: fixed;
    /* right: 15px; */
    bottom: 65px;
    height: 46px;
    /* border: 1px solid #e5e9ef; */
    background: url(//static.hdslb.com/images/base/icons.png) -459px -1675px;
    /* background-color: #02020226; */
}
.page-bottom {
    position:absolute; 
    bottom: 0;
    width: 100%;
}
.today-tittle {
	white-space: nowrap;
	overflow: hidden;
    text-overflow:ellipsis;
}
.list-inline a:link {
    padding: 0 5px;
    color:#333;
    text-decoration:none;
}
.list-inline a:visited {
    color:#333;
}

.list-inline a:hover,.li-li > a:hover , ul > li > a:hover  {
    color: #337ab7;
}
.show_1 {
    display:block;
    width:130px;
    height:130px;
}
/* login样式=================================*/
#displaysign{
    position: relative;
    top: 80px;
    width: 70px;
    height: 40px;
}
.signform {
    border-radius: 1em;
    background-color: white;
    width: 360px;
    padding: 25px 45px 40px;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    margin: -200px auto auto;
    text-align: center;
    z-index: 1032;
}
.signclose {
    background: url(//static.hdslb.com/images/base/icons.png) -529px -1872px;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 23px;
    width: 30px;
    height: 30px;
}
.signclose:hover{
        background-color: #efeaea;
}

#registerloading{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 410px;
    top: 90px;
}
.signinput {
    /* text-align: center; */
    width: 270px;
    height: 45px;
    border: 1px solid #dfe4df;
    background-color:#f2f2f2;
    padding: 0 15px;
}
.signinput::-webkit-input-placeholder {
    font-size: 16px;
}
.userdiv {
    position: relative;
    margin-top: 55px;
}
.pwddiv {
    position: relative;
    margin-top: 20px;
}
.postdiv {
    position: relative;
    margin-top: 20px;
}
.postdiv button {
    cursor: pointer;
    color: white;
    font-size: 26px;
    border: none;
    border-radius: 0.4em;
    width: 270px;
    height: 45px;
    background-color:#4CAF50;
}

.black_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1031;
}
.login-error{
    margin-top: 15px;
    color:red;
    font-size:16px
}
.del-error{
    color:red;
    font-size:16px
}
    
/* .closes_1 {
    margin-right: -7px;
    margin-top: 7px
} */
/* 在线QQ客服样式=================================*/

@media (min-width: 640px) {
    .qinghua {
        position:fixed;
        /*bottom:190px;*/
        top: 42%;
        /*margin-left: 18em;*/
        opacity: 1
    }
    .hongbao {
        display:none!important;
    }
    .animated {
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
    }
    .livechat-girl {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: fixed;
        top: 46%;
        right: 40px;
        opacity: 0;
        -webkit-box-shadow: 0 5px 10px 0 rgba(35, 50, 56, 0.3);
        box-shadow: 0 5px 10px 0 rgba(35, 50, 56, 0.3);
        z-index: 700;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        cursor: pointer;
        -webkit-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
        transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    }
    .livechat-girl:focus {
        outline: 0;
    }
    .livechat-girl.animated {
        opacity: 1;
        transform: translateY(-40px);
        -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
    }
    .livechat-girl:after {
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-image: linear-gradient(to bottom, #38dc79, #1ab744);
        position: absolute;
        right: 1px;
        top: 1px;
        z-index: 50;
    }
    .livechat-girl .girl {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 50;
        border-radius: 100%;
    }
    .livechat-girl .animated-circles .circle {
        background: rgba(26, 183, 68, 0.25);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: absolute;
        z-index: 49;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    .livechat-girl .animated-circles.animated .c-1 {
        animation: 2000ms scaleToggleOne cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    }
    .livechat-girl .animated-circles.animated .c-2 {
        animation: 2500ms scaleToggleTwo cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    }
    .livechat-girl .animated-circles.animated .c-3 {
        animation: 3000ms scaleToggleThree cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    }
    .livechat-girl.animation-stopped .circle {
        opacity: 0 !important;
    }
    .livechat-girl .livechat-hint {
        position: absolute;
        right: 40px;
        top: 50%;
        margin-top: -20px;
        opacity: 0;
        z-index: 0;
        -webkit-transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);
        transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);
        background-color: #1ab744;
    }
    .livechat-girl .livechat-hint.show_hint {
        -webkit-transform: translateX(-40px);
        transform: translateX(-40px);
        opacity: 1;
    }
    .livechat-girl .livechat-hint.hide_hint {
        opacity: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .rd-notice-tooltip {
        -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        font-size: 14px;
        border-radius: 3px;
        line-height: 1.25;
        position: absolute;
        z-index: 65;
        max-width: 350px;
    }
    .rd-notice-tooltip.thumb-heart-tooltip {
        z-index: 100;
        margin-top: 19px;
    }
    .rd-notice-tooltip.thumb-heart-tooltip .rd-notice-content {
        padding: 10px 20px;
    }
    .rd-notice-tooltip:after {
        position: absolute;
        display: block;
        content: '';
        height: 20px;
        width: 20px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        z-index: 50;
        top: 10px;
        right: -6px;
        background-color: #1ab744;
    }
    .rd-notice-tooltip .rd-notice-content {
        background: 0;
        border-radius: 3px;
        width: 100%;
        color: #fff;
        position: relative;
        z-index: 60;
        padding: 20px;
        font-weight: 400;
        line-height: 1.45;
    }
    .rd-notice-tooltip .rd-notice-content a {
        color: #fff;
        text-decoration: underline;
    }
    .rd-notice-tooltip .arrow {
        display: none !important;
    }
    .rd-notice-tooltip.alert.rd-closing {
        white-space: normal;
        text-align: left;
    }
    .rd-notice-tooltip.alert.rd-closing .rd-notice-content {
        padding-right: 50px;
    }
    .rd-notice-tooltip.single-line .rd-notice-content {
        height: 40px;
        padding: 0 20px;
        line-height: 40px;
        white-space: nowrap;
    }
    @keyframes scaleToggleOne {
        from {
            transform: scale(1);
            -webkit-transform: scale(1);
        }
        50% {
            transform: scale(2);
            -webkit-transform: scale(2);
        }
        100% {
            transform: scale(1);
            -webkit-transform: scale(1);
        }
    }
    @keyframes scaleToggleTwo {
        0% {
            transform: scale(1);
            -webkit-transform: scale(1);
        }
        20% {
            transform: scale(1);
            -webkit-transform: scale(1);
        }
        60% {
            transform: scale(2);
            -webkit-transform: scale(2);
        }
        100% {
            transform: scale(1);
            -webkit-transform: scale(1);
        }
    }
    @keyframes scaleToggleThree {
        0% {
            transform: scale(1);
            -webkit-transform: scale(1);
        }
        33% {
            transform: scale(1);
            -webkit-transform: scale(1);
        }
        66% {
            transform: scale(2);
            -webkit-transform: scale(2);
        }
        100% {
            transform: scale(1);
            -webkit-transform: scale(1);
        }
    }
}

@media (max-width: 640px) {
    .livechat-girl {
        display: none;
    }
    .toutu {
        width:12em!important; 
    }
    .qinghua {
       /* position:fixed;*/
        /*bottom:190px;
        top: 70%;*/
        display:none!important;
        /*margin-left: 18em;*/
       /* opacity: 1*/
    }
    .hd_flodt {
        position:fixed;
        /*bottom:190px;*/
        top: 72%;
        /*margin-left: 18em;*/
        opacity: 1;
	z-index: 201;
    }
}
